// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-color: #481484;

$include-highlights: true !default;
 
$base-gradient : if($include-highlights, matte, null) !default;

$active-color: #D8DBD5;

$list-pressed-color : #D8DBD5;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

.login {
	 background-image: url('../images/bg-login.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
     background-position: center;
}

.login_form {
	 
}

.redondito {
    -webkit-border-radius: 10px;
}

.sombrita {
    box-shadow:0px 1px 10px rgba(0,0,0,0.25) ,inset 0px 0px 4px rgba(225,255,255,0.65);
    -webkit-box-shadow:0px 2px 10px rgba(0,0,0,0.25) ,inset 0px 0px 4px rgba(225,255,255,0.65);
    moz-box-shadow:0px 1px 10px rgba(0,0,0,0.25) ,inset 0px 0px 4px rgba(225,255,255,0.65);
}

.grisecito {
	background-color: #f3edfb;
}

.fondito {
	background-color: #ebedf3;
}

.transparent {
	opacity: 0.9;
}

.solid {
	opacity: 1;
}

.redondito {
	-webkit-border-radius: 4px;
}

.button_1 {
	background-color: $base-color;
	background-image: none !important;
	color: #fff;
	opacity: 1;
	-webkit-border-radius: 4px;
	height: 48px;
}

.button_2 {
	background-color: #c4342d;
	background-image: none !important;
	color: #fff;
	opacity: 1;
	-webkit-border-radius: 4px;
	height: 48px;
}

/*** patches ***/

.x-tab .x-button-icon.car:before, .x-button .x-button-icon.car:before {
	left: -6px !important;
}

.x-toolbar-light .x-title {
	transform: none !important;
}

/** Navigation Bar **/

.x-toolbar-light {
	background-image: none !important;
}

/** Menu **/

.panel-opciones-usuario .x-button-label{
	color: #ffffff; 
	text-align: justify;
	font-size: 14pt;
}

.panel-superior{	 
	 background: $base-color;
	 padding: 5% 5%;
	 -webkit-box-shadow: 0px 4px 2px #c2c2c2;
	 height: 20%;
	 max-height: 215px;
}

.text-panel-superior{
	color: #fff;
}

.menu-button {
	background: none;
	border-bottom: 1px solid #c5c5c5;
	color: #545454;
	height: 2.5em;
	margin: .7em 0 0 0 !important;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-radius: 0 !important;
	text-align: left !important;
	padding-bottom: 16%;
}

.menu-button .x-button-label {
	text-align: left !important;
	color: #545454 !important;
	padding-top: 2%;
}

.panel-opciones-usuario .x-button-label{
	color: #3f4040; 
	text-align: justify;
	font-size: 14pt;
	font-weight:bold;
}

.x-menu {
	background: #fff;
	padding: 0;
	border-right: 2px solid #c2c2c2;
}

/**** Mask ****/

.x-mask .x-mask-message {
	color: #fff !important;
}

.x-mask .x-mask-inner {
	background: rgba(0, 0, 0, 0.45);
}

/**** Icons ****/

@include icon-font('godrive', inline-font-files('godrive/godrive.woff', woff, 'godrive/godrive.ttf', truetype,'godrive/godrive.svg', svg));

[class^="icon-godrive"], [class*=" icon-godrive"] {
	font-family: 'godrive';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-icon-godrive]:before {
	font-family: godrive;
	content: attr(data-icon-godrive);
	speak: none;
}

@include icon('car', 'a', 'godrive');
@include icon('info', 's', 'godrive');
@include icon('logout', 'j', 'godrive');
@include icon('share', 'o', 'godrive');
@include icon('back', 'n', 'godrive');
@include icon('new-error', 'k', 'godrive');
@include icon('stop2', 'x', 'godrive');
@include icon('pupils', 'z', 'godrive');
@include icon('check', 'B', 'godrive');
@include icon('cross', 'A', 'godrive');
@include icon('sync', 'l', 'godrive');

/**** General ****/

.inline-icon {
	vertical-align: text-top;
}

.info-note {
	width: 285px;
	padding: 21px 42px;
	margin: 24px auto;
	background: #ae0653;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.label-text {
	color: #413c5f;
}

.bottom-shadow {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}



